  <app-menu></app-menu>

  <div class="container-fluid main">

    <div class="row ">
      <div class="col-12">
        <app-revenues-card></app-revenues-card>
      </div>
      <div class="col-12">
        <app-debts-card></app-debts-card>
      </div>
      <div class="col-12">
        <app-balance-total-card></app-balance-total-card>
      </div>

      <div class="row d-flex align-items-center mt-2">
        
        <div class="col-6">
          <app-revenues-button></app-revenues-button>
        </div>
        <div class="col-6">
          <app-debts-button></app-debts-button>
        </div>
      
      </div>
      
   
    </div>

</div>

<app-footer></app-footer>



