<app-menu></app-menu>

<div class="container-fluid fixed-top bg-white d-flex justify-content-center">
  <div class="row  revenues">
    <app-debts-card></app-debts-card>
    <app-months-debts></app-months-debts>
    <div *ngIf="!emptyResult && !loading" style="padding-left: 10vw;">
      <br>
      <label class="mat-label"style="margin-right:2vw"><strong>Encontrar Despesa:</strong></label>
      <input class="rounded-4 w-50"
        matInput
        placeholder="Pesquisar Despesa"
        (keyup)="applyFilter($event)"
        appInputWidth
      />
    </div>
  </div>
</div>

<div class="container-fluid main">

   <!-- <button
      color="primary"
      class="btn-default btn btn-primary"
      (click)="openDialog()"
    >
      Adicionar Dívida
    </button>-->
    <div class="center custom-position">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <table
      mat-table
      class="mat-elevation-z8 text-center rounded-5"
      [dataSource]="dataSource"
      *ngIf="!loading && !emptyResult"
    >
      <!--<ng-container matColumnDef="divida">
        <th mat-header-cell *matHeaderCellDef style="padding-left: 2px" class="text-center">Despesa</th>
        <td mat-cell *matCellDef="let element" style="padding-left: 2px">
          {{element.debt}}
        </td>
      </ng-container>-->

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef style="padding-left: 2px" class="text-center">Tipo de Despesa</th>
        <td mat-cell *matCellDef="let element" style="padding-left: 2px">
          {{element.category}}
        </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef class="text-center">Valor</th>
        <td mat-cell *matCellDef="let element">
          {{element.value | currency: "BRL": "symbol": "1.2-2"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataVencimento">
        <th mat-header-cell *matHeaderCellDef class="text-center">Data de Vencimento</th>
        <td mat-cell *matCellDef="let element">
          {{element.expirationDate | date : "dd/MM"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef class="text-center">Id</th>
        <td mat-cell *matCellDef="let element">
          {{element._id | shortener}}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef style="width: 7%;padding-right: 2px;">Ações</th>
        <td mat-cell *matCellDef="let element"style="padding-right: 2px;">
          <div *ngFor="let img of element.actions; let i = index">
            <img
              class="image"
              [src]="img"
              alt=""
              (click)="selectAction(img, element)"
            />
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns "></tr>
    </table>

    <ng-container *ngIf="emptyResult && !loading">
      <div class="container">
        <div class="center">
          <span>Você ainda não cadastrou dívidas para esse mês.</span>
        </div>
      </div>
    </ng-container>
</div>


<app-footer></app-footer>